.brand-title-phone {
    text-align: center;
    color: var(--color);
    font-size: 12px;
    font-family: 'Whyte-Medium', sans-serif;
    cursor: pointer;
    padding: 0 !important;
}

/*.brand-title-phone :hover {
    opacity: 0.5;
}*/