.pc-brand-description {
    margin-top: 200px;
    color: var(--color);
    font-size: 12px;
    font-family: 'Whyte-Medium', sans-serif;
}

.brand-title {
    margin-top: 200px;
    color: var(--color);
    font-size: 12px;
    font-family: 'Whyte-Medium', sans-serif;
    cursor: pointer;
    /* Start with opacity 0 */
}

.brand-title :hover {
    opacity: 0.5;
}