<img class="col-md-8 image-container-pc d-none d-md-block brand-images" style="background-color: red"></img>
<div class="col-md-1 d-none d-md-block"> </div>
<!-- container dedicato alla lista brand e descrizione pc -->
<brands-container class="brands-container"></brands-container>

<!--  WIP: creare lista custom per i brand
<div class="col-12 brand-title-sm"></div-->

<img class="col-12 brand-images">
<div class="col-12 brand-name"></div>
<div class="col-12 brand-description"></div>

<link rel="stylesheet" href="components/projects.css">