
<!--div class="col-7 row d-md-none brand-description-sm"></div-->
<div class="col-12 col-md-2 brand-title"> 
</div>
<div class="col-1 d-none d-md-block" style="background-color: blue;">
</div>
<div class="col-9" style="background-color: yellow;">
    <div class="row d-none d-md-block" style="height: 60px;">
    </div>
    <div class="row brand-photos d-none d-md-block">  
    </div>
</div>
<!--div class="row d-md-none" style="height: 20px; background-color: blueviolet;">
</div>
<div class="row d-md-none container-photos-sm" style="background-color: brown;">
    <div class="col-10">
        <img src="" class="brand-photos-sm" style="width: 100%;">
    </div>
</div-->


<link rel="stylesheet" href="components/projects.css">